<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/student/Documents/venterova/styles.css">
    <title>Web</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(function(){
    $('#layout').load("components/layout.html");
   $('#header').load("components/header.html");

});
</script>

<!--
<script>
    $(document).ready
     </script>
    -->

<body>
    <div id="layout"></div>
    
    <!--
        <div class="row">
            <div class="column">
                <img class="image" src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg">
                <div class="column>">
                    <h1>sjdkrghmstrh</h1>

                </div>
            </div>
        </div>
        -->
</body>


<footer>
    
</footer>


</html>